gitignore
.build/**
build/intermediates/classes/debug/com/example/android/BluetoothChat/AccessDenied.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/AccessGranted.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/AppEntity.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/BluetoothMain$1.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/BluetoothMain$2$1.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/BluetoothMain$2.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/BluetoothMain.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/BluetoothService$AcceptThread.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/BluetoothService$ConnectThread.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/BluetoothService$ConnectedThread.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/BluetoothService.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/BuildConfig.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/DAO.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/DeviceListActivity$1.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/DeviceListActivity$2.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/DeviceListActivity$3.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/DeviceListActivity.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/DogRequest.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/Fau_Picture$1.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/Fau_Picture.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/R$attr.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/R$drawable.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/R$id.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/R$layout.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/R$menu.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/R$raw.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/R$string.class
build/intermediates/classes/debug/com/example/android/BluetoothChat/R.class
build/intermediates/incremental-classes/debug/instant-run-bootstrap.jar
build/intermediates/incremental-runtime-classes/debug/instant-run.jar
build/intermediates/incremental-safeguard/debug/tag.txt
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/AccessDenied$1.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/AccessDenied.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/AccessGranted.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/AppEntity.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/BluetoothMain$1.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/BluetoothMain$2$1.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/BluetoothMain$2.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/BluetoothMain.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/BluetoothService$AcceptThread.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/BluetoothService$ConnectThread.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/BluetoothService$ConnectedThread.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/BluetoothService.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/BuildConfig.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/DAO.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/DeviceListActivity$1.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/DeviceListActivity$2.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/DeviceListActivity$3.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/DeviceListActivity.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/DogRequest.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/Fau_Picture$1.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/Fau_Picture.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/R$attr.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/R$drawable.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/R$id.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/R$layout.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/R$menu.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/R$raw.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/R$string.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/R.class
build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
build/intermediates/incremental/mergeDebugAssets/merger.xml
build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
build/intermediates/incremental/mergeDebugShaders/merger.xml
build/intermediates/incremental/packageDebug/dex-renamer-state.txt
build/intermediates/incremental/packageDebug/file-input-save-data.txt
build/intermediates/incremental/packageDebug/zip-cache/Dd1DoMC32vUB82qTp_eOqGSVTrU=
build/intermediates/incremental/packageDebug/zip-cache/xHZMBZ2JQbOELudYEN8O3eAK5ZU=
build/intermediates/incremental/packageInstantRunResourcesDebug/dex-renamer-state.txt
build/intermediates/incremental/packageInstantRunResourcesDebug/file-input-save-data.txt
build/intermediates/incremental/packageInstantRunResourcesDebug/zip-cache/xHZMBZ2JQbOELudYEN8O3eAK5ZU=
build/intermediates/instant-run-resources/resources-debug.ir.ap_
build/intermediates/instant-run-support/debug/instant-run.zip
build/intermediates/instant-run-support/debug/manifest.crc
build/intermediates/instant-run-support/debug/manifest.xml
build/intermediates/manifests/instant-run/debug/AndroidManifest.xml
build/intermediates/restart-dex/debug/build-info.xml
build/intermediates/transforms/dex/debug/folders/1000/10/instant-run-bootstrap_3b8075800b4dc1016a94eef8f9cd57506b0fa540/classes.dex
build/intermediates/transforms/dex/debug/folders/1000/10/instant-run_c5b56860097f5a3c8b742b96559d0233c359bb67/classes.dex
build/intermediates/transforms/dex/debug/folders/1000/2/httpclient-4.5.3_1aee841618e119e57b759408eac93646c181a1a2/classes.dex
build/intermediates/transforms/dex/debug/folders/1000/2/httpcore-4.4.6_d300cc4b45584dddd20435961f52953fd6ac399c/classes.dex
build/intermediates/transforms/dex/debug/folders/1000/5/slice_0/classes.dex
build/intermediates/transforms/dex/debug/folders/1000/5/slice_1/classes.dex
build/intermediates/transforms/dex/debug/folders/1000/5/slice_2/classes.dex
build/intermediates/transforms/dex/debug/folders/1000/5/slice_3/classes.dex
build/intermediates/transforms/dex/debug/folders/1000/5/slice_4/classes.dex
build/intermediates/transforms/dex/debug/folders/1000/5/slice_5/classes.dex
build/intermediates/transforms/dex/debug/folders/1000/5/slice_6/classes.dex
build/intermediates/transforms/dex/debug/folders/1000/5/slice_7/classes.dex
build/intermediates/transforms/dex/debug/folders/1000/5/slice_8/classes.dex
build/intermediates/transforms/dex/debug/folders/1000/5/slice_9/classes.dex
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/AccessDenied$1.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/AccessDenied.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/AccessGranted.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/AppEntity.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/BluetoothMain$1.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/BluetoothMain$2$1.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/BluetoothMain$2.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/BluetoothMain.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/BluetoothService$AcceptThread.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/BluetoothService$ConnectThread.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/Fau_Picture$1.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/R$layout.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/R$menu.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/R$raw.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/R$string.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/R.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_0/com/android/tools/fd/dummy/slice_0.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_1/com/android/tools/fd/dummy/slice_1.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_2/com/android/tools/fd/dummy/slice_2.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_3/com/android/tools/fd/dummy/slice_3.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/com/android/tools/fd/dummy/slice_4.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_5/com/android/tools/fd/dummy/slice_5.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_6/com/android/tools/fd/dummy/slice_6.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_7/com/android/tools/fd/dummy/slice_7.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/android/tools/fd/dummy/slice_8.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/AccessDenied$1.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/AccessDenied.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/AccessGranted.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/AppEntity.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/BluetoothMain$1.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/BluetoothMain$2$1.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/BluetoothMain$2.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/BluetoothMain.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/BluetoothService$AcceptThread.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/BluetoothService$ConnectThread.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/BluetoothService$ConnectedThread.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/BluetoothService.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/BuildConfig.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/DAO.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/DeviceListActivity$1.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/DeviceListActivity$2.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/DeviceListActivity$3.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/DeviceListActivity.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/DogRequest.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/Fau_Picture$1.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/Fau_Picture.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/R$attr.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/R$drawable.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/R$id.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/R$layout.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/R$menu.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/R$raw.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/R$string.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/R.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_9/com/android/tools/fd/dummy/slice_9.class
build/intermediates/transforms/mergeJavaRes/debug/jars/2/1f/main.jar
build/intermediates/classes/debug/com/example/android/BluetoothChat/AccessDenied$1.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/BluetoothService$ConnectedThread.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/BluetoothService.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/BuildConfig.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/DAO.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/DeviceListActivity$1.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/DeviceListActivity$2.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/DeviceListActivity$3.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/DeviceListActivity.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/DogRequest.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/Fau_Picture.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/R$attr.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/R$drawable.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/R$id.class
build/outputs/apk/app-debug.apk
build/intermediates/blame/res/debug/multi/values.json
build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
build/intermediates/manifests/full/debug/AndroidManifest.xml
build/intermediates/res/resources-debug.ap_
build/outputs/logs/manifest-merger-debug-report.txt
build/intermediates/classes/debug/com/example/android/BluetoothChat/AccessGranted$1.class
build/intermediates/incremental-verifier/debug/com/example/android/BluetoothChat/AccessGranted$1.class
build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/example/android/BluetoothChat/AccessGranted$1.class
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/buildId.txt
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/example/android/BluetoothChat/AccessGranted$1.class
