<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.android.BluetoothChat"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="6" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/app_icon" >
                 
        <activity android:name=".Fau_Picture"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".BluetoothMain"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="com.example.android.BluetoothChat.BLUETOOTHMAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".DogRequest"
                  android:label="Dog Request"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.android.BluetoothChat.DOGREQUEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".DeviceListActivity"
                  android:label="@string/select_device"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden" />

        <activity android:name=".AccessGranted"
            android:label="Access Granted Method"
            android:configChanges="orientation|keyboardHidden" />

        <activity android:name=".AccessDenied"
            android:label="Access Granted Method"
            android:configChanges="orientation|keyboardHidden" />

    </application>
</manifest>
